.cover__link{
    width: 100%;
    min-height: calc(92.5vw/1.6);
    background-image: url(../../../images/cover-trains.jpg);
    background-color: rgba(42, 44, 47, 0.3);
    background-position: center;
    background-size: cover;
    background-blend-mode: overlay;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.cover__link:hover{
    background-color: rgba(42, 44, 47, 0.8);
}

@media screen and (max-width: 1024px){
    .cover__link{
        min-height: calc(98vw/1.6);
    }
}



