.lead__images{
    padding: 0;
    margin: 0 auto;
    width: 77%;
    position: relative;
    top: 0;
    left: 0;    
}

@media screen and (max-width: 768px) {
    .lead__images {      
        width: 100%;
    }
} 