.header__logo{
    width: 176px;
    height: 52px;
    margin: 28px 0 0 48px;
}

@media screen and (max-width: 465px) {
    .header__logo{      
        width: 142px;
        height: 42px;
        margin: 16px 0 0 16px;
    }
} 