.header__link{    
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    text-align: right;
    color: #FFFFFF;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

.header__link:hover{
    opacity: 0.8;
}
.header__link:nth-child(1){
    margin-right: 18px;
}

@media screen and (max-width: 465px) {
    .header__link {      
        font-size: 18px;
        line-height: 20px;
    }
} 