.cover__title{
    font-family: Inter;
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 76px;
    text-align: center;
    color: #FFFFFF;
    margin: 0 0 32px 0;
    padding: 0;
    width: 560px;      
}


@media screen and (max-width: 565px){
    .cover__title{      
        font-size: 42px;
        line-height: 46px;
        width: 330px;
    }
}

@media screen and (max-width: 320px){
    .cover__title{      
        font-size: 32px;
        line-height: 35px;
        margin: 0 0 16px 0;
        width: 288px;
    }
}