.place{
    display: grid;
    gap: 48px 3%;
    grid-template-columns: repeat(2, minmax(36.5%, max-content));
    margin: 0;
    margin-bottom: 80px;
}

.place:nth-child(5){
    margin-bottom: 0;
}


@media screen and (max-width: 768px){
    .place{      
        margin-bottom: 73px;
    }
}

@media screen and (max-width: 465px){
    .place{
        grid-template-columns: repeat(1, minmax(90%, max-content));
        gap: 32px 0;
        margin-bottom: 49px;
    }
}