.photos{
    width: 92.5vw;
    display: grid;
    gap: 1.5vw;
    grid-template-columns: repeat(4,minmax(22vw, max-content));
}

@media screen and (max-width: 1024px) {
    .photos {      
        grid-template-columns: repeat(3, minmax(29vw,1fr));
    }
} 

@media screen and (max-width: 768px) {
    .photos {      
        grid-template-columns: repeat(2, minmax(44vw,1fr));
    }
} 

@media screen and (max-width: 320px) {
    .photos {      
        grid-template-columns: repeat(1,minmax(88vw,1fr));
    }
} 