.header__links-lang{
    margin: 46px 48px 0 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;
}



@media screen and (max-width: 465px) {
    .header__links-lang {   
        margin: 30px 16px 0 0;
    }
} 